$colorTexto: #878787;

.news{
    padding: 20px 100px;
    color: $colorTexto;

    @media screen and (max-width: 575px){
        padding: 20px;
    }

    .feed-filtro{
        background: #fff;
        font-weight: 300;
        padding: 20px;
        
        .titulo{
            display: flex;
            gap: 10px;
            
            p{
                display: inline-block;
            }
        }
        
        hr{
            margin: 0px;
        }

        .filtro{
            padding: 10px 0;
            p{
                margin: 0;
            }
        }
    }

    .noticias{
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;

        @media screen and (max-width: 575px){
            margin-top: 20px;
        }

        @media screen and (max-width: 800px){
            margin-top: 20px;
        }

        .noticias-cuerpo{
            background: #fff;
            padding: 20px;
            text-transform: none;
            margin-bottom: 20px;

            h2{
                font-size: 1.5rem;
            }
            p{
                margin: 0;
                font-size: .9rem;
            }
            
            .imagen{
                margin: 15px 0;
                img{
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .recomendados{
        background: #fff;
        padding: 20px;
        font-weight: 300;
        margin-top: 40px;

        @media screen and (max-width: 575px){
            margin-top: 20px;
        }

        @media screen and (max-width: 800px){
            margin-top: 20px;
        }
    }
}